*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
    object-fit: cover;
}
.div1{
    width: 100%;
    height: 100vh;
    display: flex ;
    justify-content: end;
    align-items: end;
    margin-right: 100px;
}
.fieldset{
    width: 250px;
    height: 300px;
    margin-right: 80px;
    border-bottom:seashell;
    border-top: saddlebrown;
    border-left: beige;
    border-right: darkblue;
    border-radius: 10px;
    background-image: linear-gradient(to right, #0F4C4F, #345c5c);
    margin-left: 700px;
}

.button{
    width: 250px;
    height: 60px;
    border-radius: 5px;
    margin: 10px;
    border-width: 1px;
    background-color: #f4f4f4;
}
.button1{
    width: 50px;
    height: 40px;
    margin-left: 12px;
}
.button2{
    width: 50px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
}
.button3{
    width: 50px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
}
.button4{
     width: 50px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
}

