*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.fieldset{
    width: 250px;
    height: 300px;
    border-bottom:seashell;
    border-top: saddlebrown;
    border-left: beige;
    border-right: darkblue;
    margin: auto;
    background-color: #000;
    margin-top: 70px;
    border-radius: 10px;
}
.button{
    width: 250px;
    height: 60px;
    /* background-color: lightgray; */
    border-radius: 5px;
    margin: 10px;
    border-width: 1px;
    background-color: #f4f4f4;
}
.button1{
    width: 50px;
    height: 40px;
    margin-left: 12px;
}
.button2{
    width: 50px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
}
.button3{
    width: 50px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
}
.button4{
     width: 50px;
    height: 40px;
    margin-left: 12px;
    margin-top: 10px;
}

